
/* utilities */
.bg-darkblue{
    background-color: #2c3e50;
}

.bg-green{
    background-color: #1abc9c;
}

.text-white{
    color: white;
}

/* overwrite */
#navbarText{
    flex-grow: 0;
}

.navbar-dark {
    --bs-navbar-color: rgba(255, 255, 255, 1);
}

#hd-avatar{
    height: 200px;
}

.line{
    border: 2px solid;
    width: 100px;
    height: 1px;
}

#star{
    font-size: 1.5rem;
}